<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Quản trị Booking</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Admin/assets/favicon/apple-icon-60x60.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Admin/assets/favicon/android-icon-192x192.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/Admin/css/table.css" rel="stylesheet">
    <link href="~/Content/Admin/select2/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body class="c-app">
    @Html.Partial("_SideBar")
    <div class="c-wrapper c-fixed-components">
        @Html.Partial("_Header")
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <!--Main sẽ được viết ở đây -->
                    @RenderBody()
                </div>
            </main>
            @Html.Partial("_Footer")
        </div>
    </div>
    <script src="~/Content/Admin/js/coreui.bundle.js"></script>
    <script src="~/Content/Admin/js/svgxuse.js"></script>
    <script src="~/Content/Admin/js/coreui-utils.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/Admin/js/sweetalert.min.js"></script>
    <script src="~/Content/Admin/select2/js/select2.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
